*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
/**** Navbar section *****/

#navabar{

    /* /* padding-left: 720px;
    padding-top: 10px;
    width: 100%; */
   height: 80px; 
   box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #fff;
   background: #fff;
   z-index: 1;
}

.cont{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background: none;
   
}
.cont>ul>a{
    text-decoration: none;
    font-size: 14px;
    font-weight:550;
    color: #000000 ;
    font-family: 'Poppins', sans-serif;
}

.cont > ul>a{
    margin-right: 70px;
    justify-content: space-around;
}

.cont>ul>a:hover{

    color: #57c9e0;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 3px;
}
.cont>p{
        margin-right: 490px;
        margin-left: 50px;
        font-weight:550;
        color: #000000 ;
        font-family: 'Poppins', sans-serif;
}
.close{
    width: 30px;
   display: none;
}
.open{
    width: 30px;
    display: none;
}
@media only screen and (max-width: 480px) and (min-width: 0px){
  
}

 /***** home section ******/

.home{
display: flex;
  padding-top:180px;
/* width: 100%;
  height: 100px; */
 
}

.names{
  width: 100%;
  margin-left: 100px;

}

.mine{

  font-size: 15px;
  font-weight: 10px;
  margin-bottom: 10px;
  color: #000000ce;
}

.hi{

  font-size: 16px;
  color:  #6a797c;
  font-weight: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.dev{
  font-size: 16px;
  color: #232829;
  font-weight: 400px;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  margin-bottom: 30px;
}
.fullname{
  font-size: 75px;
  font-weight: 700px;
  color: #232829;
  margin-top: -10px;
  font-family: 'Calibre', 'Inter', San Francisco, SF Pro Text, -apple-system, system-ui, sans-serif;
}


.contactme{
  color: #fff;
  background-color: #57c9e0;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
  .logo{
    margin-left: 210px;
    margin-top: 100px;
    display: block;
  }

  .logo>img:first-child{
    width: 25px;
  }
  .logo>img:last-child{
    width: 25px;
    margin-top: 30px;
  }

  .he{

    font-size: 55px;
    color:  #232829;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-family: 'Poppins', sans-serif;
  }


   
  
  /* about section  */

                   /* 2nd Home  */
.about{

 display: block;
 
}

.me{
  
  width: 100%;
  text-align: center;
  margin-top: 350px;
}
.me>h2{
  font-weight: 600px;
  font-size: 36px;
  /* border: 1px solid red; */
  color: #232829;
  font-family: "Poppins", sans-serif;
}
.me>p{
  font-weight: 400px;
  color: #6a797c;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;

}
.about{

  width: 100%;
}
.intro{
  display: grid;

  margin-top: 65px;
  grid-template-columns: repeat(2,1fr);
  padding-left: 200px;
  /* border: 1px solid yellow; */
}
.image>img{
  width: 305px;
  height: 373px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.image{
  margin-left: 140px;
  
}
.self{
  /* margin-left: -70px; */
  /* border: 1px solid green; */
 
 
}
.self>p:first-child{
  margin-top:12px;
  font-size: 1rem;
  color: #6a797c;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  line-height: 25px;
}
.self>p:nth-child(2){
  margin-top:20px;
  font-size: 1rem;
  color: #6a797c;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  line-height: 25px;
}

.life{

  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3,120px);
  grid-template-rows: 10px;
  gap: 20px;
  text-align: center;
  margin-left:-34px
}
.life>h1{
  font-size: 24px;
  font-weight: 600;
  color: #232829;
}
.life>p{
  margin-top:10px;
  font-size: 1rem;
  color: #6a797c;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  line-height: 20px;
}
.resume{
  display: flex;
  background-color: #57c9e0;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
  width: 110px;
  text-decoration: none;
}
.resume>img{
  width: 20px;
  margin-left: 5px;
}

@media only screen and (max-width: 1100px) and (min-width: 900px){

.intro{

  padding: 0%;
  
}
.image{
  margin-left: 100px;
}

}
@media only screen and (max-width: 900px) and (min-width: 700px){

  .intro{
    padding: 0%;
  }
  .image{
    margin-left: 15px;
  }
}

@media only screen and (max-width: 699px) and (min-width: 650px){

  .intro{
    grid-template-columns: 1fr;
  }
  /* .intro{
    padding: 0%;
  } */
  .image{
    margin: 0%;
  }
  .resume{
    margin-left: 110px;
  }
}
@media only screen and (max-width: 650px) and (min-width: 436px){

  .intro{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .intro{
    padding: 0%;
  }
  .self{
    margin-left: 70px;
  }
  .image{
    margin: 0%;
  }
  .resume{
    margin-left: 110px;
  }
}

@media only screen and (max-width: 436px) and (min-width: 0px){

  .intro{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .intro{
    padding: 0%;
  }
  .self{
    margin-left: 20px;
  }
  .image{
    margin: 0%;
  }
  .life{

    grid-template-columns: repeat(3,1fr);
  }
  .resume{
    margin-left: 100px;
  }
}

    /*==================== QUALIFICATION ====================*/


.qualification__sections{
  display: grid;
  justify-items: center;
}
.edu{
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #57c9e0;
}
.edu>img{
  width: 30px;
  
}
.edu>p{
  font-weight: 400px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-left: 5px;

}
.qual{
  width: 100%;
   text-align: center;
   margin-top: 200px;
}
.qual>h2{
  font-weight: 600px;
  font-size: 36px;
  color: #232829;
  font-family: "Poppins", sans-serif;
}
.qual>p{
  font-weight: 400px;
  color: #6a797c;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;

}


.qualification__sections{
  width: 100%;
  margin: auto;
}

.qualification__button:hover {
  color:#57c9e0;
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}


.qualification__title {
 font-weight: 500px;
 font-size: 16px;
 color: #232829 ;
}
.qualification__calendar{

  display: flex;
  text-align: center;
  align-content: center;
  margin-top: 20px;
  /* justify-content: center; */
}
.qualification__calendar>img{

  width: 15px;
  height: 15px;
}
.qualification__calendar>p{
  margin-left: 5px;
  color: #9fabad;
  font-size: 13px;
  font-weight: 400px;
}
.qualification__subtitle {
  display: inline-block;
  font-weight: 400px;
  font-size: 14px;
  color:#6a797c;
}



.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color:#57c9e0;
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color:#57c9e0;
  transform: translate(6px, -7px);
}

@media only screen and (max-width: 510px) and (min-width: 400px){
  
  
 .qualification__sections{
  padding-left: 20px;
 }
 .qualification__data{
  gap: 8px;

 }
.qualification__rounder{
 
}
   
}

@media only screen and (max-width: 399px) and (min-width: 0px){
  
  
  .qualification__sections{

   padding-left: 5px;
  }
  .qualification__data{
   gap: 4px;
 
  }    
 }

    /* SKILL */
    .title{
      width: 100%;
       text-align: center;
       margin-top: 200px;
    }
    .title>h2{
      font-weight: 600px;
      font-size: 36px;
      color: #232829;
      font-family: "Poppins", sans-serif;
    }
    .title>p{
      font-weight: 400px;
      color: #6a797c;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      margin-top: 10px;
    
    }
 .skills{
  display: grid;
  grid-template-columns: repeat(4,180px);
  margin-top: 80px;
  justify-content: center;
  gap: 25px;
  
}
.skills>div>img{
  width: 40px;
  margin-left: 0px;
  
}
.skills>div{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  transition: 00.5s;
  display: inline-block;
}
.skills>div:hover{

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}

.skills>h5{
  font-weight: 500px;
  font-size: 20px;
  color: #232829;
}

@media only screen and (max-width: 747px) and (min-width: 600px){

.skills{
  grid-template-columns: repeat(3,170px);
  justify-content: center;
}
}
@media only screen and (max-width: 599px) and (min-width: 460px){

  .skills{
    grid-template-columns: repeat(2,200px);
    justify-content: center;
  }
  }


@media only screen and (max-width: 460px) and (min-width: 380px){

    .skills{
      grid-template-columns: repeat(2,170px);
      justify-content: center;
    }
    }

    @media only screen and (max-width: 380px) and (min-width: 0px){

      .skills{
        grid-template-columns: repeat(1,250px);
        justify-content: center;
      }
      }
  
  
      /* PROJECT  */


      .projects{
        width: 100%;
         text-align: center;
         margin-top: 200px;
      }
      .projects>h2{
        font-weight: 600px;
        font-size: 36px;
        color: #232829;
        font-family: "Poppins", sans-serif;
      }
      .projects>p{
        font-weight: 400px;
        color: #6a797c;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
      
      }
      .project{
        display: grid;
        grid-template-columns: repeat(3,350px);
        /* grid-template-rows: repeat(2,420px); */
        gap: 20px;
         justify-content: center;
          width: 100%;
          align-content: center;
         margin-top: 60px;
         height: fit-content;
        
      }

      /*for span*/

      .techstack{
        font-weight: bold;
      }
     
      .project>div>img{
        width: 100%;
        height:210px;
        border-radius: 8px 8px 0 0;
      }
      .project>div{
      
        border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      
      }
      .project>div:hover{
      
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      
      }
      
      .project>div>div>div>img{
      
        width: 35px;
        color: #232829;
        font-weight: 400px;
        fill:#57c9e0;
        
      
      }
      .project>div>div>div>img:last-child{
        width: 35px;
        margin-left: 2px;
      
      }
      .project>div>div{
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        padding: 15px;
        align-content: center;
        
      }
      .project>div>p{
        padding: 15px;
        font-weight: 400px;
        font-size: 15px;
        color: #6a797c;
      }
      .project>div>p:last-child{
       
        font-weight: 500px;
        font-size: 15px;
        margin-top: 10px;
      }


      /* live and github buuton part */

      .live{

       
          margin-bottom: 20px;
  
      }
      .live>button{
       
        display: flex;
        text-align: center;
        background-color: white;
        border: none;
      }

      .live>button:first-child{
         margin-left: 30px;
      }

      .live>button:last-child{
          margin-right: 30px;
      }

      .live>button>img{

        width: 17px;
        margin-right: 5px;
      }

      .live>button>p{
        font-weight: 300px;
        font-size: 16px;
      }

      .live>button:hover{

        padding: 5px;
        background-color: #57c9e0;
      }

      


           
      @media only screen and (max-width: 1090px) and (min-width: 895px){
      
      .project{

        grid-template-columns: repeat(3,280px);
      }
      
      }

      @media only screen and (max-width: 894px) and (min-width: 775px){
      
        .project{
  
          grid-template-columns: repeat(2,300px);
        }

        
        }


@media only screen and (max-width: 775px) and (min-width: 700px){
      
          .project{
    
            grid-template-columns: repeat(2,300px);
          }
          
          }        

  @media only screen and (max-width: 699px) and (min-width: 600px){
      
            .project{
      
              grid-template-columns: repeat(2,260px);
            }
            
            }  


@media only screen and (max-width: 599px) and (min-width: 514px){
      
              .project{
        
                grid-template-columns: repeat(2,240px);
              }
              
              .project>div:first-child>div{
             
                padding: 5px;
              }
              .project>div:nth-child(2)>div{
              
                padding: 5px;
              }
              
              } 

@media only screen and (max-width: 515px) and (min-width: 370px){
      
                .project{
          
                  grid-template-columns: repeat(1,340px);
                }
                } 

  @media only screen and (max-width: 370px) and (min-width: 0px){
      
                  .project{
            
                    grid-template-columns: repeat(1,280px);
                  }
                  
                  } 





      /* GITHUB */


      .git{
        width: 100%;
         text-align: center;
         margin-top: 150px;
      }
      .git>h2{
        font-weight: 600px;
        font-size: 36px;
        color: #232829;
        font-family: "Poppins", sans-serif;
      }
      .git>p{
        font-weight: 400px;
        color: #6a797c;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
      
      }
      .github-images{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 60px;
        margin-bottom: 25px;
      }
      .github-images>img{
        width: 400px;
      }
      .calendar{
        width: 62%;
        /* padding: 4rem; */
        border: none !important;
        padding: 0;
        margin: auto;
      }

      @media only screen and (max-width: 883px) and (min-width: 770px){

        
        .github-images{
      
          display: grid;
          grid-template-columns: repeat(2,300px);
        }
        .github-images>img{
      
          width: 100%;
        }
      }

      @media only screen and (max-width: 769px) and (min-width: 600px){

        
        .github-images{
      
          display: grid;
          grid-template-columns: repeat(2,280px);
        }
        .github-images>img{
      
          width: 100%;
        }
      }


      @media only screen and (max-width: 599px) and (min-width: 400px){

        
        .github-images{
      
          display: grid;
          grid-template-columns: repeat(1,300px);
        }
        .github-images>img{
      
          width: 100%;
        }
      }

      @media only screen and (max-width: 400px) and (min-width: 0px){

        
        .github-images{
      
          display: grid;
          grid-template-columns: repeat(1,270px);
        }
        .github-images>img{
      
          width: 100%;
        }
      }



  /* conatct me  */

  .contact-me{
    width: 100%;
     text-align: center;
     margin-top: 150px;
  }
  .contact-me>h2{
    font-weight: 600px;
    font-size: 36px;
    color: #232829;
    font-family: "Poppins", sans-serif;
  }
  .contact-me>p{
    font-weight: 400px;
    color: #6a797c;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
  
  }
  
  .contact__container {
    row-gap: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    gap:30px;
  }
  
  .contact__information {
    display: flex;
    margin-bottom: 30px;
    gap:20px;
   
  }
  
  .contact__icon{
    
    
    width: 25px;
    height: 25px;
  }
  
  
  .contact__content {
    background-color: #eefafc;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
    margin: 10px;
  }
  
  
  
  .contact__input {
    width: 100%;
    border: 1px solid transparent;
    font-weight: 400;
    color: #232829;
    font-size: 13px;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
    background-color: #eefafc;
   
  }
  
  .contact__inputs{
    display: flex;
    
  
  }
  .contact__container>div:first-child{
    margin-top: 20px;
  }
  
  #email-submit{
  
    background-color: #57c9e0;
    padding: 1rem;
    border-radius: 00.5rem;
    display: flex;
    align-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 5px;
  }
  #email-submit>img{
  
    width: 20px;
    
  }
  
  .contact__content~p{
    padding-top: 15px;
  }
  .contact__information>div:nth-child(2)>a{
     text-decoration: none;
  }
  
  
  .contact__information>div>a>h3{
    font-size: 19px;
    color:#232829;
    font-weight: 600px;
  }
  .contact-me{
  width: 100%;
   text-align: center;
   margin-top: 150px;
}
.contact-me>h2{
  font-weight: 600px;
  font-size: 36px;
  color: #232829;
  font-family: "Poppins", sans-serif;
}
.contact-me>p{
  font-weight: 400px;
  color: #6a797c;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;

}

.contact__container {
  row-gap: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  gap:30px;
}

.contact__information {
  display: flex;
  margin-bottom: 30px;
  gap:20px;
 
}

.contact__icon{
  
  
  width: 25px;
  height: 25px;
}


.contact__content {
  background-color: #eefafc;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
  margin: 10px;
}



.contact__input {
  width: 100%;
  border: 1px solid transparent;
  font-weight: 400;
  color: #232829;
  font-size: 13px;
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  background-color: #eefafc;
 
}

.contact__inputs{
  display: flex;
  

}
.contact__container>div:first-child{
  margin-top: 20px;
}

#email-submit{

  background-color: #57c9e0;
  padding: 1rem;
  border-radius: 00.5rem;
  display: flex;
  align-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: 5px;
}
#email-submit>img{

  width: 20px;
  
}

.contact__content~p{
  padding-top: 15px;
}
.contact__information>div:nth-child(2)>a{
   text-decoration: none;
}


.contact__information>div>a>h3{
  font-size: 19px;
  color:#232829;
  font-weight: 600px;
}

@media only screen and (max-width: 1194px) and (min-width: 884px){

  .contact__container{
    margin-left: 50px;
  }
}
  @media only screen and (max-width: 883px) and (min-width: 770px){
    .contact__container{
      margin-left:15px
     
    }
  } 


  @media only screen and (max-width: 769px) and (min-width: 655px){
    .contact__container{
      margin-left: 10px;
      }
      .contact__inputs{
        display: flex;
        /* border: 1px solid red; */
        
      
      }
      .contact__inputs>div{
        width: 100px;
      }
        }
        @media only screen and (max-width: 654px) and (min-width: 625px){
          .contact__container{
            margin-left: 15px;
            }
            .contact__inputs{
              display: flex;
              
            }
            .contact__content{
              width: 300px;
            }
            .contact__inputs>div{
              width: 100px;
              
            }
        }
      
      
        
        @media only screen and (max-width: 624px) and (min-width: 581px){
          .contact__container{
            margin-left: 20px;
            }
            .contact__inputs{
              display: flex;
              
            }
            .contact__content{
              width: 250px;
            }
            .contact__inputs>div{
              width: 90px;
          
            }
        }
      


        @media only screen and (max-width: 580px) and (min-width: 410px){
          .contact__container{
            margin-left: 20px;
            display: grid;
          
            }
            .contact__container>div:first-child{
          
              width: 400px;
              
            }
            .contact__inputs{
              display: flex;
              
            }
            .contact__content{
              width: 350px;
             
            }
            .contact__inputs>div{
              width: 150px;
             
            }
        }



      
        @media only screen and (max-width: 410px) and (min-width: 0px){
          .contact__container{
            margin-left: 20px;
            display: grid;
          
            }
            .contact__container>div:first-child{
          
              width: 300px;
              
            }
            .contact__inputs{
              display: flex;
              
            }
            .contact__content{
              width: 280px;
             
            }
            .contact__inputs>div{
              width: 100px;
             
            } 
      
        }
  



     

    




.footer{
  width: 100%;
  background-color: #57c9e0;
  height: 80px;
  margin-top: 100px;
}


/* home page */


@media only screen  and (min-width: 1195px){

  .cont>p{
    margin-right: 50px;
}

}

@media only screen and (max-width: 1194px) and (min-width: 900px){


.mine{
  font-size: 15px;
}

  .cont>p{
      margin-right: 50px;
  }

  .home{
      padding-top:150px;
 
    }
    .logo{
      margin-left: 20px;
      margin-top: 100px;
    }
    .names{
      margin-left: 10px;
    }
    .he{
      margin-top: -10px;
    }
    .dev{
      margin-top: -10px;
    }
  }


  @media only screen and (max-width: 899px) and (min-width: 770px){


    .mine{
      font-size: 12px;
    }
    .cont>p{
        margin-right: 44px;
    }
    .cont>ul>a{
        margin-right: 50px;
    }
    .home{
      padding-top:150px;
      margin-left: -200px;
  
    }
    .logo{
      margin-top: 100px;
      margin-right:0px ;
      margin-right: -80px;
    }
    .names{
     
    }
    .he{
      margin-top: -10px;
    }
    .dev{
      margin-top: -10px;
    }
    .dev{
      margin-bottom: 10px;
    }
    .fullname{
      margin-top: -10px;
      margin-bottom: -10px;
    }
    .hi{
      margin-bottom: -10px;
    }
  }

  @media only screen and (max-width: 769px) and (min-width: 481px){
  

    .mine{
      font-size: 14px;
    }
    .open{
     display: block;
     cursor: pointer;
     margin-right: -50px;
    }
    .cont>ul>a{
     display: block;
     width: fit-content;
     margin: 80px auto 0 auto;
     text-align: center;
     transition: 0.5s;
     
    }

  
    .cont>ul{

      
     height:100vh;
     position: absolute;
     top: 80px;
     left: 0;
     right: 0;
     width: 100%;
     background: rgb(255, 255, 255);
     transition: 0.3s;
     overflow: hidden;
     display: none;
     box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
    }
    .close{
     /* display: block; */
     padding-left: 0px;
     margin-right: -10%;
     
    }
    .open{
     /* display: none; */
    }
    .cont>p{
     margin-left: -100px;
     margin-right: 210px;
    }
    .cont>ul>a:hover{
 
     color: #57c9e0;
     text-decoration: underline;
     text-underline-offset: 11px;
     text-decoration-thickness: 3px;
 }
 
 
 .logo>img{
   display: none;
 }
 .fullname{
   font-size: 55px;
 }
 .names{
   margin-left: -200px;
 }
 .he{
   line-height: 60px;
   font-size: 45px;
 
 }
 
 .home{
   margin-left: 10px;
   margin-top: -50px;
 }
 .dev{
   font-size: 15px;
   margin-bottom: 20px;
 }
  }


  @media only screen and (max-width: 480px) and (min-width: 0px){
  
    .mine{
      font-size: 14px;
    }
    .open{
     display: block;
     cursor: pointer;
     margin-right: -60px;
    }
    .cont>ul{
     display: none;
    }
    .cont>p{
     margin-left: -60px;
     margin-right: 80px;
    }



    .open{
        display: block;
        cursor: pointer;
        margin-right: -100px;
       }
       .cont>ul>a{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        
       }
       .cont>ul{
        height: 1000px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background: rgb(255, 255, 255);
        transition: 0.3s;
        overflow: hidden;
        display: none;
        box-shadow: 0 -1px 4px rgb(0 0 0 / 15%);
       }
       .close{
        /* display: block; */
        margin-right: -100px;
        
       }
       .open{
        /* display: none; */
       }
       
       .cont>ul>a:hover{
    
        color: #57c9e0;
        text-decoration: underline;
        text-underline-offset: 11px;
        text-decoration-thickness: 3px;
    }


    .fullname{
      font-size: 35px;
    }
    .he{
      font-size: 30px
    }
    .dev{
      font-size: 18px;
      margin-bottom: 30px;
    }
    .home{
      margin-left: -200px;
      margin-top: -70px;
      margin-right:0px;
    }
    .names{
      margin-left: 0px;
    }
    .logo>img{
      display: none;
    }
  }
  